.m-comment-entry {
  position: relative;
  border: 3px #eee solid;
  border-radius: 10px;
  margin: 25px 0;
  padding: 15px;
}

.m-comment-entry__textarea, .m-comment-entry__entryarea {
  display: block;
  height: 100px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.m-comment-entry__textarea {
  position: absolute;
  width: calc(100% - 30px); /* YOLO padding */
  z-index: 0;

  /* textarea reset */
  resize: none;
  outline: none;
  background: none;
  padding: 0;
  border: 0;
}

.m-comment-entry__entryarea {
  position: relative;
  z-index: 1;

  pointer-events: none;
}

.m-comment-entry__entryarea__override {
  color: transparent;
  margin-right: 10px;
}

.m-comment-entry__entryarea__next {
  display: inline;
  pointer-events: all;
}
